.logement_page {
  color: #ff6060;
  font-weight: 500;

  .logement_description {
    display: flex;
    gap: 2rem;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 0rem;

    }
  }
}

li {
  list-style-type: none;
  margin-block: 0;
  padding-inline-start: 0;
}