.navbar {
  align-items: center;
  display: flex;
  color: #ff6060;
  font-size: 24px;
  font-weight: 500;

  padding: 1rem 0;

  .navigation {
    width: auto;
    display: flex;
    margin-left: auto;
    gap: 3rem;

    @media screen and (max-width: 768px) {
      height: 17px;
      gap: 1rem;

      font-size: 14px;
      letter-spacing: 0em;


    }
  }

  @media screen and (max-width: 768px) {
    text-transform: uppercase;

    .logo {
      width: 145px;
      min-height: 47px;
    }
  }

  & a {
    text-decoration: none;
    color: #ff6060;

    &.active {
      text-decoration: underline
    }

    &:hover {
      text-decoration: underline
    }

  }
}

.logo {
  margin-right: auto;
}