.carousel {
  max-width: 100%;
  height: 415px;

  @media screen and (max-width: 768px) {
    min-width: 335px;
    min-height: 255px;
    height: auto;
  }
}

.slide-counter {

  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  top: 370px;
  color: white;
  font-weight: 400;
  font-size: 20px;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.carousel .slide {

  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;

  @media screen and (max-width: 768px) {
    min-height: 280px;
    max-height: 280px;
  }
}

.carousel-container {
  position: relative;
  width: auto;
}


.fleche-left {
  left: 30px;
  margin-left: 20px;
  transform: scaleX(-1);
  transition: transform 0.3s ease, scale 0.3s ease;

  @media screen and (max-width: 768px) {
    width: 15px;
    height: 20px;
  }

  &:hover {
    cursor: pointer;
    transform: scaleX(-1) scale(1.2);
  }
}

.fleche-right {

  right: 30px;
  margin-right: 20px;
  transition: transform 0.3s ease, scale 0.3s ease;

  @media screen and (max-width: 768px) {
    width: 15px;
    height: 20px;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.2);

  }

}

.carousel_arrow {
  align-items: center;
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  height: 100%;



}