*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    max-height: fit-content;
}

#root {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav+div {

    flex: 1;
}